html {
  background-color: white;
  color: white;
  font-size: 18px;
  font-family: Helvetica;
}

header {
  background-color: black;
}

header .container {
  display: flex;
  align-items: center;
}

.container {
  width: 960px;
  margin: 0 auto;
  border: 1px solid red;
}

.logo {
  height: 1.5rem;
  width: auto;
  padding: 0.66rem 1rem 0.66rem 0.5rem;
}

.container span {
  color: white;
}

.banner {
  background-image: url('../images/moto.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

.top-news {
  margin-top: 9rem;
  width: 25rem;
  background-color: black;
}

.top-news h4 {
  font-weight: bold;
  padding: 2rem 0 .125rem 3rem;
}

.top-news h1 {
  font-weight: bold;
  font-size: 2rem;
  padding: .125rem 0 2rem 3rem;
}

.menu {
  background-color: firebrick;
}

.menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container li {
  margin: 0.75rem 0;
}

.container li a {
  text-decoration: none;
  color: white;
}
